{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>

<body>
    <img id="banner" src="{% static 'about/img/about.jpg' %}" alt="">
    <div id="menu">
    <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/buku">Buku</a></li>
    </ul> 
    </div>

    <!--CONTAINER BOOTSTRAP -->
    <!--https://getbootstrap.com/docs/4.5/getting-started/introduction/-->

    <div class="container">
        <p></p>
        <!--https://getbootstrap.com/docs/4.5/components/alerts/-->
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">About Django</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga quis consequuntur adipisci dolorum quam
                vero, eveniet vitae ipsa magnam natus libero, aperiam est quidem officia nesciunt earum eos, dignissimos
                dolorem.</p>
            <hr>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur a, minima
                fugiat praesentium itaque illum porro blanditiis saepe tempore soluta officia. Labore iste qui possimus
                at id ea. Vitae?</p>
        </div>
    </div>

    
    <scripts src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascripts"></scripts>
    <scripts src="{% static 'vendor/bootstrap/jquery-3.3.1.slim.min.js' %}" type="text/javascripts"></scripts>
    <scripts src="{% static 'vendor/bootstrap/popper.min.js' %}" type="text/javascripts"></scripts>

</body> 
</html>