{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>

<body>
    <img id="banner" src="{% static 'buku/img/crud.jpg' %}" alt="">
    <div id="menu">
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/buku">Buku</a></li>
       </ul> 
    </div>

    <div class='container'>
        <br>
        {% for tampungPost in TampungPostingan %}
            <h3>{{tampungPost.judul}}</h3>
            <p>{{tampungPost.sinopsis}}</p>
        {% endfor %}
    <!-- CONTAINER BOOTSTRAP -->
    
  <!-- END CONTAINER BOOTSTRAP -->


    <scripts src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascripts"></scripts>
    <scripts src="{% static 'vendor/bootstrap/jquery-3.3.1.slim.min.js' %}" type="text/javascripts"></scripts>
    <scripts src="{% static 'vendor/bootstrap/popper.min.js' %}" type="text/javascripts"></scripts>

</body>
</html>